table.exec > tbody > tr.C {
    background-color: #4CAF50 !important;
    color: white;
    font-weight: bold;
}

table.exec > tbody > tr.I {
    background-color: #FF9800 !important;
    color: white;
    font-weight: bold;
}
table.exec > tbody > tr.F {
    background-color: #F44336 !important;
    color: white;
    font-weight: bold;
}

table.report > tbody > tr > td.C {
    background-color: #4CAF50 !important;
    color: white;
    font-weight: bold;
}

table.report > tbody > tr > td.I {
    background-color: #FF9800 !important;
    color: white;
    font-weight: bold;
}

table.report > tbody > tr > td.F {
    background-color: #F44336 !important;
    color: white;
    font-weight: bold;
}

.navbar.toolbar{
    margin-top: 20px;
    margin-buttom: 0px;
}

ul.dropdown-menu > li.C > a {
    color: #4CAF50 !important;
}

ul.dropdown-menu > li.I > a {
    color: #FF9800 !important;
}

ul.dropdown-menu > li.F > a {
    color: #F44336 !important;
}