<div class="col-md-4 col-md-offset-4">
  <div class="well" ng-show="vm.profile">
    <form class="settings" role="form" ng-submit="vm.update()">
      
      <div class="form-group">
        <label for="settings__email">Email</label>
	<input class="form-control" id="settings__email" type="text" ng-model="vm.profile.email"
	       placeholder="ex. jon@jpmchase.com"/>
      </div>

      <div class="form-group">
	<label for="settings__password">New Password</label>
	<input class="form-control" id="settings__password" type="password" ng-model="vm.profile.password" placeholder="ex. hahaha"/>
      </div>

      <div class="form-group">
	<label for="settings__confirm-password">Confirm Password</label>
	<input class="form-control" id="settings__confirm-password" type="password" ng-model="vm.profile.confirm_password" placeholder="ex. hahaha"/>
      </div>

      <div class="form-group">
	<label for="settings__lob">LOB</label>
	<input class="form-control" id="settings__lob" type="text" ng-model="vm.profile.lob" placeholder="ex. CIB Tech"/>
      </div>

      <div class="form-group">
	<button class="btn btn-primary" type="sumbit">Submit</button>
	<button class="btn btn-danger pull-right" ng-click="vm.destroy()">Delete Account</button>
      </div>
      
    </form>
  </div>
</div>

