<form role="form" ng-submit="vm.update()">
  <h1>Edit Test Phase</h1>
  
  <div class="form-group">
    <label for="test_phase__description">Description</label>
    <textarea class="form-control"
	      id="test_phase__description"
	      rows="1"
	      placeholder="eg. Window A"
	      ng-model="testPhase.description">
    </textarea>
  </div>

  <div class="form-group">
    <label for="test_phase__start_time">Start Time</label>
    <input class="form-control" type="text" id="testPhase__start_time" ng-model="testPhase.startTime"
  	   placeholder="eg. 6:30"/>
  </div>
  
  <div class="form-group">
    <label for="test_phase__end_time">End Time</label>
    <input class="form-control" type="text" id="testPhase__end_time" ng-model="testPhase.endTime"
  	   placeholder="eg. 7:30"/>
  </div>
  
  <div class="form-group">
    <label for="test_phase__lob_choices">LOB</label>
    <select class="form-control"
  	    id="test_phase__lob_choices"
  	    ng-model="testPhase.lob"
  	    ng-options="lobType.value for lobType in testPhase.lobTypes"></select>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">
      Submit
    </button>
  </div>
  
</form>
