<form role="form" ng-submit="vm.update()">
  <h1>Edit Test Phase</h1>
  
  <div class="form-group">
    <label for="test_phase__description">Description</label>
    <textarea class="form-control"
	      id="test_phase__description"
	      rows="1"
	      placeholder="eg. Window A"
	      ng-model="vm.test_phase.description">
    </textarea>
  </div>

  <div class="form-group">
    <label for="test_phase__start_time">Start Time</label>
    <input class="form-control" type="text" id="vm.test_phase__start_time" ng-model="vm.test_phase.startTime"
  	   placeholder="eg. 6:30"/>
  </div>
  
  <div class="form-group">
    <label for="test_phase__end_time">End Time</label>
    <input class="form-control" type="text" id="vm.test_phase__end_time" ng-model="vm.test_phase.endTime"
  	   placeholder="eg. 7:30"/>
  </div>

  <div class="form-group">
    <label for="test_phase__lob">LOB</label>
    <md-radio-group id="test_phase__lob" ng-model="vm.test_phase.lob">
      <md-radio-button ng-repeat="lobType in vm.lobTypes"
		       ng-value="lobType.key">
	{{ lobType.value }}
      </md-radio-button>
    </md-radio-group>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">
      Update
    </button>
    <button class="btn btn-danger pull-right" ng-click="vm.destroy()">Delete</button>
  </div>

</form>
