<div class="event" ng-show="vm.event">

  <div class="col-xs-9 col-sm-7 col-md-5 col-lg-3">
    <!-- <div class="jumbotron event__header"> -->
    <!--   <h1 class="event__head">{{ vm.event.datacenter }}</h1> -->
    <!--   <p class="event__content">{{ vm.event.date }} - {{ vm.event.description }}</p> -->
    <!-- </div> -->

    <test-phases test-phases="vm.test_phases"></test-phases>

    <a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-block col-md-offset-2"
       href="javascript:void(0)"
       ng-show="vm.isAuthenticated"
       ng-click="vm.openAddDialog()"></a>
  </div>

  <div class="col-xs-3 col-sm-5 col-md-7 col-lg-9">
    <scopes apps="vm.apps"></scopes>

    <a class="btn btn-success btn-raised pull-right"
       href="javascript:void(0)"
       ng-show="vm.isAuthenticated"
       ng-click="vm.saveAndBack()">Save and back</a>

  </div>
  
</div>
