<form role="form" ng-submit="vm.saveAndBack()">

  <div class="col-xs-9 col-sm-7 col-md-5 col-lg-3">
    <test-phases test-phases="vm.test_phases"
		 open-add-dialog="vm.openAddDialog"
		 is-authenticated="vm.isAuthenticated">
    </test-phases>
  </div>

  <div class="col-xs-3 col-sm-5 col-md-7 col-lg-9">
    <scopes apps="vm.apps"></scopes>
    <button class="btn btn-success btn-raised pull-right"
	    type="submit"
	    ng-show="vm.isAuthenticated">
      Save and back
    </button>
  </div>
  
</form>
