<div class="panel">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>AID</th>
        <th>Name</th>
        <th>RTO</th>
        <th>priority</th>
	<th>scoped</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="app in apps">
        <td>{{ app.aid }}</td>
        <td>{{ app.name }}</td>
        <td>{{ app.RTO }}</td>
        <td>{{ app.priority }}</td>
	<td><md-checkbox ng-model="app.scoped"
			 aria-label="scoped"
			 ng-disabled="!vm.isAuthenticated">
	</md-checkbox></td>
      </tr>
    </tbody>
  </table>
</div>
