<!-- exec mode -->
<div class="timeline-badge shadow-z-1"
	ng-class="testPhase.state"
	ng-if="!editMode">
  <div class="glyphicon glyphicon-ok"
	  ng-if="vm.isPassed()"
	  ng-click="vm.test()">
    <md-tooltip>
      see result {{ testPhase.description }} phase
    </md-tooltip>
  </div>
  <div ng-click="vm.test()"
	  ng-if="vm.isCurrent()">
    <md-progress-circular md-mode="determinate"
	    class="md-accent"
	    value="{{ testPhase.timer }}">
    </md-progress-circular>
    <div class="current">{{ testPhase.timer }}%</div>
    <md-tooltip>
      see result for {{ testPhase.description }} phase
    </md-tooltip>
  </div>
  <i class="glyphicon glyphicon-option-vertical"
	  ng-if="vm.isWaiting()">
  </i>
</div>

<div class="timeline-panel" ng-if="!editMode">
  <div class="timeline-heading">
    <h4 class="timeline-title">{{ testPhase.description }}</h4>
    <p>
      <small class="text-muted">
	<i class="glyphicon glyphicon-time"></i>
	{{ testPhase.startTime | date:'HH:mm' }} - {{ testPhase.endTime | date:'HH:mm' }}
      </small>
    </p>
  </div>
  <hr>
  <div class="timeline-body"
	  ng-hide="vm.isWaiting()">
    <div class="progress">
      <div class="progress-bar"
	      style="width: {{testPhase.finished/testPhase.test_results.length*100}}%">
      </div>
    </div>
    <p>
      Finished
      <span class="badge">
        {{ testPhase.finished }}/{{ testPhase.test_results.length }}
      </span>
    </p>
    <p class="green"
	    ng-hide="testPhase.completed===0">
      Completed without issue
      <span class="badge">
	{{ testPhase.completed }}
      </span></p>
    <p class="amber"
	    ng-hide="testPhase.issued===0">
      Completed with issue
      <span class="badge">
	{{ testPhase.issued }}
      </span>
    </p>
    <p class="red"
	    ng-hide="testPhase.failed===0">
      Failed to complete
      <span class="badge">
	{{ testPhase.failed }}
      </span>
    </p>
    <p ng-if="vm.isCurrent()">{{ vm.timeDiff(testPhase.diff) }}</p>
  </div>
</div>

<!-- edit mode -->
<div class="timeline-badge primary shadow-z-1"
	ng-if="editMode">
  <i class="glyphicon glyphicon-pencil"></i>
</div>

<div class="timeline-panel" ng-if="editMode">
  
  <div class="timeline-heading">
    <h4 class="timeline-title">{{ testPhase.description }}</h4>
    <div class="row">
      <div class="form-group col-lg-6">
	<label for="test_phase__start_time">Start Time</label>
	<input class="form-control"
		type="text"
		id="vm.test_phase__start_time"
		ng-model="testPhase.startTime"
		ng-disabled="!vm.isAuthenticated"
  		placeholder="eg. 6:30"/>
      </div>
      <div class="form-group col-lg-6">
	<label for="test_phase__end_time">End Time</label>
	<input class="form-control"
		type="text"
		id="vm.test_phase__end_time"
		ng-model="testPhase.endTime"
		ng-disabled="!vm.isAuthenticated"
  		placeholder="eg. 7:30"/>
      </div>
    </div>
  </div>
  
  <div class="timeline-body">
    <div class="form-group">
      <label for="test_phase__lob">LOB</label>
      <md-radio-group id="test_phase__lob" ng-model="testPhase.lob">
	<md-radio-button ng-repeat="lobType in vm.lobTypes"
		ng-disabled="!vm.isAuthenticated"
		ng-value="lobType.key">
	  {{ lobType.value }}
	</md-radio-button>
      </md-radio-group>
    </div>
    <a class="btn btn-danger"
	    href="javascript:void(0)"
	    ng-disabled="!vm.isAuthenticated"
	    ng-click="vm.destroy()">Delete</a>
  </div>
</div>
