{% load compress %}
{% load staticfiles %}

{% compress js %}
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/md-date-time/dist/md-date-time.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-aria/angular-aria.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-material/angular-material.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/PACTT.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/PACTT.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/PACTT.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/services/layout.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/posts.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/services/posts.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/directives/posts.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/directives/post.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/controllers/posts.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/posts/controllers/new-post.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/profiles.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/services/profile.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profile.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/profiles/controllers/profile-settings.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/planner.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/controllers/events.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/controllers/planner.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/controllers/test-phases.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/controllers/test-phase.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/controllers/new-test-phase.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/controllers/edit-test-phase.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/controllers/scopes.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/directives/events.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/directives/event.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/directives/test-phases.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/directives/test-phase.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/directives/scopes.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/services/events.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/services/test-phases.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/services/apps.service.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/planner/services/scopes.service.js' %}"></script>

{% endcompress %}
