<!-- tool bar -->
<div class="navbar toolbar navbar-default">
  <div class="navbar-collapse collapse navbar-responsive-collapse">

    <!-- action buttons -->
    <ul class="nav navbar-nav">
      <li ng-if="execMode">
	<a href="javascript:void(0)" ng-click="vm.toggleAssigned()">
	  <div class="mdi-navigation-menu"></div>
	  <md-tooltip>
	    {{ assigned_btn }}
	  </md-tooltip>
	</a>
      </li>
      <li>
	<a href="javascript:void(0)" ng-click="vm.toggleReport()">
	  <div class="mdi-action-description"></div>
	  <md-tooltip>
	    {{ report_btn }}
	  </md-tooltip>
	</a>
      </li>
    </ul>
    
    <!-- finish phase -->
    <ul class="nav navbar-nav navbar-right">
      <li>
	<a href="javascript:void(0)" ng-click="vm.exportToExcel('app_status')">
	  <div class="mdi-action-get-app"></div>
	  <md-tooltip>
	    Download as excel
	  </md-tooltip>
	</a>
      </li>
      <li ng-if="execMode">
	<a href="javascript:void(0)" ng-click="vm.sendComments()">
	  <div class="mdi-editor-mode-comment"></div>
	  <md-tooltip>
	    Send Comments
	  </md-tooltip>
	</a>
      </li>
      <li class="dropdown" ng-if="execMode">
        <a href="javascript:void(0)"
		data-target="#"
		class="dropdown-toggle"
		data-toggle="dropdown">
	  <div class="mdi-action-done"></div><b class="caret"></b>
	  <md-tooltip>
	    Complete Phase
	  </md-tooltip>
	</a>
        <ul class="dropdown-menu">
	  <li class="dropdown-header">Choose completion status</li>
	  <li class="divider"></li>
          <li class="C"><a href="javascript:void(0)"
				ng-click="vm.updateStatus('C')">Completed without issue</a></li>
          <li class="I"><a href="javascript:void(0)"
				ng-click="vm.updateStatus('I')">Completed with issue</a></li>
          <li class="F"><a href="javascript:void(0)"
				ng-click="vm.updateStatus('F')">Failed</a></li>
        </ul>
      </li>
    </ul>
    
  </div>
</div>

<!-- search bar -->
<md-autocomplete flex-required
	placeholder="Enter application name"
	md-input-name="autocompleteField"
	md-selected-item="vm.selectedItem"
	md-search-text="vm.searchText"
	md-search-text-change="vm.searchTextChange(vm.searchText)"
	md-items="item in vm.querySearch(vm.searchText)"
	md-selected-item-change="vm.selectedItemChange(item)"
	md-item-text="item.display"
	md-min-length="0"
	ng-focus="false">
  <md-item-template>
    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.display}}</span>
  </md-item-template>
  <md-not-found>
    No matches found for "{{vm.searchText}}".
  </md-not-found>
</md-autocomplete>

<div class="panel">
  <!-- table - view mode -->
  <table class="table table-striped table-hover exec"
	  id="view_table"
	  ng-if="!editMode && !vm.show_report">
    <thead>
      <tr>
        <th>AID</th>
        <th>Name</th>
        <th>RTO</th>
        <th>Priority</th>
	<th>Test Phase</th>
	<th>Status</th>
	<th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="app in apps"
	      ng-class="app.current.status">
        <td>{{ app.aid }}</td>
        <td>{{ app.name }}</td>
        <td>{{ app.RTO }}</td>
        <td>{{ app.priority }}</td>
	<td>{{ app.current.testPhase.description }}</td>
	<td>{{ vm.statusType[app.current.status] }}</td>
	<td>{{ app.current.comment }}</td>
      </tr>
    </tbody>
  </table>
  
  <!-- table - report view  -->
  <table class="table table-striped table-hover report"
	  id="report_table"
	  ng-if="vm.show_report">
    <thead>
      <tr>
        <th>AID</th>
        <th>Name</th>
        <th>RTO</th>
        <th>Priority</th>
        <th ng-repeat="test_phase in vm.test_phases">
	  {{ test_phase.description }}
	</th>
	<th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="app in apps">
        <td>{{ app.aid }}</td>
        <td>{{ app.name }}</td>
        <td>{{ app.RTO }}</td>
        <td>{{ app.priority }}</td>
	<td ng-repeat="test_results in app.test_results"
		ng-class="test_results.status">
	  {{ vm.statusType[test_results.status] }}
	</td>
	<td>{{ app.current.comment }}</td>
      </tr>
    </tbody>
  </table>
  
  
  
  <!-- table - edit mode -->
  <table class="table table-striped table-hover" ng-if="editMode">
    <thead>
      <tr>
        <th>AID</th>
        <th>Name</th>
        <th>RTO</th>
        <th>Priority</th>
	<th>Scoped</th>
	<th>Descope Reason</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="app in apps">
        <td>{{ app.aid }}</td>
        <td>{{ app.name }}</td>
        <td>{{ app.RTO }}</td>
        <td>{{ app.priority }}</td>
	<td><md-checkbox ng-model="app.scoped"
		    aria-label="scoped"
		    ng-disabled="!isAuthenticated"
		    ng-click="vm.scopeToggle(app)">
	</md-checkbox></td>
	<td><textarea class="form-control"
		    ng-model="app.descope_reason"
		    ng-required="!app.scoped"
		    ng-disabled="app.scoped"></textarea></td>
      </tr>
    </tbody>
  </table>

</div>
