<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Login</h1>
    
    <div class="well">
      <form role="form" ng-submit="vm.login()">

	<!-- need to fix the warning -->
	<div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

	<div class="form-group">
	  <label for="login__sid">SID</label>
	  <input class="form-control" type="text" id="login__sid" ng-model="vm.sid"
		 placeholder="eg. A123456"/>
	</div>

	<div class="form-group">
	  <label for="login__password">Password</label>
	  <input class="form-control" type="password" id="login__password" ng-model="vm.password"
		 placeholder="eg. 12345"/>
	</div>

	<div class="form-group">
	  <button type="submit" class="btn btn-primary">Submit</button>
	</div>
	
      </form>
    </div>
    
  </div>
</div>
